.header {
  width: 100%;
  overflow: hidden;

  & .leftDiv {
    animation-name: fadeInLeft;
    animation-duration: 2s;
    & h1 {
      animation: show 2s 1 3s;
    }
    & p {
      animation: show 2s 1 4s;
    }
    & button {
      animation: show 2s 1 4.5s;

      animation: jello 2s infinite 5s;
    }
  }
  & .banner {
    width: 100%;
    max-width: 655px;
    animation-name: fadeInRight;
    animation-duration: 1s;
    transition: all 0.5s ease;
    & img:hover {
      filter: hue-rotate(180deg);
      transform: scale(1.01);
    }
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
