.card__container {
  width: 90%;
  margin: 0 auto;

  & .cards {
    @apply grid grid-cols-1 gap-4 laptop:grid-cols-2  desktop:grid-cols-3 desktop:gap-8 py-4 place-items-center;
  }
  .card {
    width: 420px;
    height: 400px;
    background-color: white;
    @apply grid py-8 px-4 gap-4  place-items-center border-8 border-whiteBlack-w hover:border-blue-light;

    @media screen and (max-width: 1024px) {
      width: 400px;
    }
    @media screen and (max-width: 424px) {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
    & button {
      @apply p-2 font-black transition ease-in-out delay-100 border-4 text-text-24 border-blue-light text-blue-dark hover:bg-blue-light hover:text-whiteBlack-w mb-8;
    }

    &:hover img {
      animation: shakeX 0.9s ease-out 1;
    }
  }
}
