.card__container {
  width: 90%;
  margin: 0 auto;

  .cards {
    margin: 0 auto;

    @apply grid grid-cols-3 gap-8 py-4 place-items-center;
  }
  .card {
    width: 450px;
    height: 350px;

    & button {
      @apply p-2 font-black transition ease-in-out delay-100 border-4 text-text-24 border-blue-light text-blue-dark hover:bg-blue-light hover:text-whiteBlack-w;
    }
  }
}
