.about {
  height: 90rem;
  @media screen and (max-width: 650px) {
    height: 65rem;
  }
}
.value {
  height: 60rem;
  margin-bottom: 8rem;
  position: relative;

  @media screen and (max-width: 1280px) {
    height: auto;
  }
  & .team {
    height: 335px;
    padding: 3rem;
    position: absolute;
    top: 65%;
    left: 10%;
    @apply flex flex-col items-center gap-8 laptop:flex-row text-whiteBlack-w bg-blue-light;

    @media screen and (max-width: 1280px) {
      position: relative;
      top: 0;
      left: 0;
      height: auto;
    }
    @media screen and (max-width: 640px) {
      font-size: 1rem;
    }
    & .btn {
      @apply px-4 py-2 font-black border-4 text-whiteBlack-w text-text-one border-blue-dark hover:bg-blue-dark;
    }
  }
}
