p span {
  @apply text-blue-light;
}
.phone__nav {
  display: none;
}
.toggle__phone {
  @apply flex items-center justify-between px-4 py-2 bg-blue-light;
  display: none;
}
//media queries
@media screen and (max-width: 960px) {
  .pc__nav {
    display: none;
  }
  .phone__nav {
    display: flex;
    animation: backInRight 0.51s 1;
  }
  .toggle__phone {
    display: flex;
  }
}

.nav__phone {
  ul li a,
  p,
  span {
    @apply text-whiteBlack-b;

    @media screen and (max-width: 520px) {
      font-size: 16px;
    }
  }
}
