p span {
  @apply text-blue-light;
}
.pc__nav {
  @apply flex justify-between px-10 py-8 font-black text-text-one fixed z-50 w-full;
}
.pc__nav.active {
  transition: all 1s ease-in;
  background: deepskyblue;

  & span {
    color: white;
    font-weight: bold;
  }
}
.phone__nav {
  display: none;
}
.toggle__phone {
  @apply flex items-center justify-between px-4 py-2 bg-blue-light;
  display: none;
}
//media queries
@media screen and (max-width: 960px) {
  .pc__nav {
    display: none;
  }
  .phone__nav {
    display: flex;
    animation: backInRight 0.51s 1;
  }
  .toggle__phone {
    display: flex;
  }
}

.nav__phone {
  ul li a,
  p,
  span {
    @apply text-whiteBlack-b;
  }
}
.hamburger {
  animation: rotateInUpLeft 1s 1;
}
